{% extends 'base.html' %}

{% block title %}Screen List{% endblock %}

{% block content %}
<h1 class="text-3xl font-bold mb-6 text-white">Screen List</h1>


<div class="bg-gray-800 rounded-lg shadow-lg overflow-hidden">
    <table class="w-full">
<thead>
    <tr class="bg-gray-700">
        <th class="p-3 text-left text-white">ID</th>
        <th class="p-3 text-left text-white">Manager</th>
        <th class="p-3 text-left text-white">Images</th>
        <th class="p-3 text-left text-white">Videos</th>        
        <th class="p-3 text-left text-white">Actions</th>
    </tr>
</thead>
<tbody>
    {% for screen in screens %}
    <tr class="border-t border-gray-700">
        <td class="p-3 text-white">{{ screen.screen_id }}</td>
        <td class="p-3 text-white">{{ screen.manager }}</td>
        <td class="p-3 text-white">{{ screen.upload_images.count }}</td>
        <td class="p-3 text-white">{{ screen.upload_video.count }}</td>
        <td class="p-3 text-white">
            <a href="{% url 'screen_detail' screen.pk %}" class="bg-blue-600 hover:bg-blue-700 text-white py-2 px-4 rounded-lg">View</a>
            <a href="{% url 'screen_update' screen.pk %}" class="bg-yellow-500 hover:bg-yellow-600 text-white py-2 px-4 rounded-lg">Edit</a>
            <a href="{% url 'screen_delete' screen.pk %}" class='bg-red-600 hover:bg-red-700 text-white py-2 px-4 rounded-lg' >Delete</a>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="3" class="p-3 text-center text-white">No Screen found.</td>
    </tr>
    {% endfor %}

</tbody>
    </table>
</div>

<br>
    <a href="{% url 'screen_create' %}" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">Add New Screen</a>

{% endblock %}