{% extends 'base.html' %}

{% block title %}Production Plan Total List{% endblock %}

{% block content %}
<h1 class="text-3xl font-bold mb-6 text-white">Production Plan Total List</h1>

<div class="mb-4 flex flex-col sm:flex-row justify-between items-center space-y-4 sm:space-y-0">
    <a href="{% url 'export_plan_total_pdf' %}?start_date={{ request.GET.start_date }}&end_date={{ request.GET.end_date }}{% if request.GET.unit %}&unit={{ request.GET.unit }}{% endif %}" class="bg-yellow-500 hover:bg-yellow-600 text-white font-bold py-2 px-4 rounded">
        Export to PDF
    </a>
    <a href="{% url 'export_plan_total_excel' %}?start_date={{ request.GET.start_date }}&end_date={{ request.GET.end_date }}{% if request.GET.unit %}&unit={{ request.GET.unit }}{% endif %}" class="bg-yellow-500 hover:bg-yellow-600 text-white font-bold py-2 px-4 rounded">
        Export to Excel
    </a> 

    <form method="get" class="flex flex-col sm:flex-row space-y-2 sm:space-y-0 sm:space-x-2">
        <label for="start_date" class="text-white font-bold ">Start Date:</label>
        <input type="date" id="start_date" name="start_date" value="{{ start_date|date:'Y-m-d' }}" 
               class="bg-gray-700 text-white border border-gray-600 rounded px-2 py-1 focus:outline-none focus:border-blue-500">
        
        <label for="end_date" class="text-white font-bold ">End Date:</label>
        <input type="date" id="end_date" name="end_date" value="{{ end_date|date:'Y-m-d' }}" 
               class="bg-gray-700 text-white border border-gray-600 rounded px-2 py-1 focus:outline-none focus:border-blue-500">
    
        <select name="unit" 
                class="bg-gray-700 text-white border border-gray-600 rounded px-2 py-1 focus:outline-none focus:border-blue-500">
            <option value="">All Units</option>
            {% for unit in units %}
                <option value="{{ unit.model }}" {% if unit.model == request.GET.unit %}selected{% endif %}>
                    {{ unit.model }}
                </option>
            {% endfor %}
        </select>
        <button type="submit" class="bg-green-500 hover:bg-green-600 text-white font-bold py-1 px-4 rounded">
            Filter
        </button>
        <a href="{% url 'production_plan_total_list' %}" class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-1 px-4 rounded">
            Reset
        </a>
    </form>    
</div>
<div class='flex justify-center gap-10'>
    <span class='m-4'> <strong>from &nbsp; </strong> {{ start_date|date:'d-m-Y' }}</span>
    <span class='m-3 font-bold text-2xl'>to</span>
    <span class='m-4'>{{ end_date|date:'d-m-Y'}}</span>
    <span class=''></span>
    <span class=''></span>
    <span class=''></span>
    <span class=''></span>
    <span class=''></span>
    <span class=''></span>
    <span class=''></span>
    <span class=''></span>
    <span class=''></span>
    
</div>

{% comment %} <div class="mb-4">
    <span class="text-xl font-semibold py-2 px-4 text-white">
        Date Range: {{ start_date|date:'d-m-Y' }} to {{ end_date|date:'d-m-Y' }}
    </span>
</div>

<div class="mb-4">
    <span class="text-xl font-semibold py-2 px-4 text-white">
        Overall Total Planned: {{ total_planned }}
    </span>
    <span class="text-xl font-semibold py-2 px-4 text-white">
        Overall Total Actual: {{ total_actual }}
    </span>
</div> {% endcomment %}


<div class="mb-4 flex justify-between">
    <a href="?date={{ previous_date }}{% if request.GET.unit %}&unit={{ request.GET.unit }}{% endif %}" 
       class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">
        Previous Day
    </a>


    <a href="?date={{ next_date }}{% if request.GET.unit %}&unit={{ request.GET.unit }}{% endif %}" 
       class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">
        Next Day
    </a>
</div>

<div class="bg-gray-800 rounded-lg shadow-lg overflow-hidden mb-6">
    <h2 class="text-2xl font-bold p-4 bg-gray-700 text-white">Cumulative Totals by Unit</h2>
    <table class="w-full">
        <thead>
            <tr class="bg-gray-700">
                <th class="p-3 text-left text-white">Model</th>
                <th class="p-3 text-left text-white">Code</th>
                <th class="p-3 text-left text-white">Total Planned</th>
                <th class="p-3 text-left text-white">Total Actual</th>
            </tr>
        </thead>
        <tbody>
            {% for total in cumulative_totals %}
            <tr class="border-t border-gray-700">
                <td class="p-3 text-white ">{{total.unit__model}}</td>
                <td class="p-3 text-white"> {{total.unit_code}}</td>
                <td class="p-3 text-white ">{{ total.cumulative_planned }}</td>
                <td class="p-3 text-white">{{ total.cumulative_actual }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3" class="p-3 text-center text-white">No data available for the selected date range.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% if is_paginated %}
<div class="mt-4">
    <span class="step-links text-white">
        {% if page_obj.has_previous %}
            <a href="?page=1{% if request.GET.date %}&date={{ request.GET.date }}{% endif %}{% if request.GET.unit %}&unit={{ request.GET.unit }}{% endif %}" class="text-blue-400 hover:text-blue-300">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.date %}&date={{ request.GET.date }}{% endif %}{% if request.GET.unit %}&unit={{ request.GET.unit }}{% endif %}" class="text-blue-400 hover:text-blue-300">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}{% if request.GET.date %}&date={{ request.GET.date }}{% endif %}{% if request.GET.unit %}&unit={{ request.GET.unit }}{% endif %}" class="text-blue-400 hover:text-blue-300">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.date %}&date={{ request.GET.date }}{% endif %}{% if request.GET.unit %}&unit={{ request.GET.unit }}{% endif %}" class="text-blue-400 hover:text-blue-300">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endif %}

<script>
    console.log(cumulative_totals)
    document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('.actual-input').forEach(input => {
            input.addEventListener('change', function() {
                const planId = this.getAttribute('data-total-id');
                const newValue = this.value;
    
                if (!planId) {
                    console.error("Plan ID is missing for input:", this);
                    alert("Error: Plan ID is missing. Please refresh the page and try again.");
                    return;
                }
    
                // Debugging log
                console.log("Sending data:", { qty_actual: newValue });
    
                fetch(`/screen/update-production-plan-total-actual/${planId}/`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify({ qty_actual: newValue })  // Ensure data is sent correctly
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    if (data.success) {
                        console.log("Updated successfully");
                    } else {
                        console.error("Update failed:", data.error);
                        alert("Update failed: " + (data.error || "Unknown error"));
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert("An error occurred while updating. Please try again.");
                });
            });
        });
    });
    </script>

{% endblock %}
